<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Login Page</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <div>
        <input id="user_name" name="userName" type="text" placeholder="Name"  />

    </div>
    <br />
    <div>
        <input id="password" name="password" type="password" placeholder="Password"  />
    </div>
    <br />
    <button type="submit" style="width:100px;">Login in</button>

</form>
</body>
</html>
